*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div{
	user-select: none;
}
.login-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ccc;
	position: absolute;
}
.login-box {
	background: white;
	height: 350px;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.login-box > .title{
	font-weight: bolder;
	font-size: xx-large;
	margin: 20px 0;
}
.error-message{
	color: red;
	font-size: large;
}
.form-input {
	padding: 5px;
	margin: 5px 0;
}
.form-input > label{
    padding-right: 5px;
}
.form-input > input{
    padding: 5px;
}
.login-box > button[type=submit]{
	background: blue;
	color: white;
	cursor: pointer;
	width: 260px;
	height: 30px;
	margin: 20px 0;
	padding: 5px;
}

.main-container{
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
}
.sidebar{
	width: 200px;
	border-right: 1px solid #000;
}
.sidebar > .toggle-button{
	padding: 5px;
	background: blue;
	cursor: pointer;
}
.toggle-box{
    padding: 5px;
	display: none;
    background: white;
    border-bottom: 1px solid #00;
}
.toggle-box > div:hover{
    background: #ccc;
    cursor: pointer;
}
.toggle-box > .selected{
    background: #ccc;
}
#main-content{
	flex-grow: 1;
	text-align: center;
}
table.leavelist{
	margin: 50px auto;
	border-collapse: collapse;
}
tr{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
td{
	padding: 10px 50px;
}
#details-button{
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid #000;
	background: #ccc;
	cursor: pointer;
}